<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KelyGlow Website</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <style>
    body {
      background: #000;
      color: #fff;
    }
  </style>
</head>

<body>
  <div class="container">

    <h1 style="text-align: center; font-weight: 900; font-size: 3em;">Welcome to Official KelyGlow Website</h1>
    <br>


    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img
          src="https://scontent-jnb2-1.xx.fbcdn.net/v/t39.30808-6/448796965_2676887445818580_8901368525389654320_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeHWE7p4t1D0YSHUqiEB_eNVSv0yoR0CIe9K_TKhHQIh7xVsBmb_n6ODlIt7z2ExJ6KtWueqVhCwRp2C5Nw7zdig&_nc_ohc=mLbJZJ46j84Q7kNvgE2IImh&_nc_ht=scontent-jnb2-1.xx&oh=00_AYBtHG91zEHRQst_vQME-tzEIWsh_8IctOGABtxDBd3xcQ&oe=6685E04F"
          width="100%" />

      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img
          src="https://scontent-jnb2-1.xx.fbcdn.net/v/t39.30808-6/447737136_2666665423507449_5371795717259445957_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeG7fEHBaQq5Ym2mak5JYRvjMrXce6zTnJMytdx7rNOck71oxfYUrOgWKMIJp9E8i-wbeFFKestc9LavEjqLes4z&_nc_ohc=6hIW1Peh0EkQ7kNvgFiNe0c&_nc_ht=scontent-jnb2-1.xx&oh=00_AYDeb9yVGS6-77wsPdv7wvCFE2OC6XL5p7aWMrSdYMBiBw&oe=6685FAF7"
          width="100%" />

      </div>
    </div>
    <br>
    <div>
      <a style="background: yellow; color: #333; width: 100%;" href="https://wa.me/message/E2EQGENT5V4CF1"
        class="btn btn-lg btn-success">Contact Kely_Glow</a>
    </div>





  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      setTimeout(() => {

        window.location.href = "https://wa.me/message/E2EQGENT5V4CF1"

      }, 5000)
    })
  </script>
</body>

</html>